@media (min-width: 0) {
  .banner-section{
    .banner{
      width:100%;
      max-width:1502px;
      margin:0px auto;
    }
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1600px) {
}
